<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <span class="white-text">Editor HTML utilizado: <a class="red-text text-lighten-5" href="https://code.visualstudio.com/">Visual Studio Code</a></span>
        </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Generación TC2005B Construcción de Software
      </div>
    </div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>