<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materialize Index</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Videojuegos</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/campeones">Campeones</a></li>
            <li><a href="/laboratorios">Laboratorios</a></li>
            <li><a href="#git2">Comandos git</a></li>
          </ul>
        </div>
    </nav>
    
    <main class="container">
        <br>
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
                <img class="responsive-img" src="css/Ahri.png" alt="logo">
            </div>
            <div class="col s4"></div>
        </div>

        <div class="row">
            <div class="col m3"></div>
            <div class="col s12 m6">
                <div class="card grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">¿Quieres jugar?</span>
                        <p>Entra a League of Legends</p>
                    </div>
                    <div class="card-action">
                        <a href="https://lan.leagueoflegends.com/es-mx/" target="_blank">Juega Lolsito</a>
                    </div>
                </div>
            </div>
            <div class="col m3"></div>
        </div>

        <section>
            <div id="link">
                <div class="row">
                    <div class="col l12 m12 s12"><h3>Zelda</h3></div>
                </div>

                <div class="row">
                    <div class="col l6 m6 s12">Link</div>
                    <div class="col l6 m6 s12">Items:</div>
                </div>
                <div class="row">
                    <div class="col l12 m12 s12">
                        <ul>
                            <div id="espada"><span class="empty">Link no tiene items en este momento, por lo tanto no puede luchar</span></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l6 m6 s12">
                    <div id="boton">
                        <button class="waves-effect waves-light btn red lighten-1" id="acciones_link" onclick="dar_espada()"><i class="material-icons left">videogame_asset</i>Darle una espada a Link</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col l3 m6 s12">
                    <div id="link_luchando"></div>
                </div>
            </div>  
        </section>

        <hr>
        <br><br>
        <section>
            <input type="password" id="password">
        </section>
        <section id="git2">
            <h2>Git</h2>
            <p>
                Comandos de git para actualizar el respositorio
            </p>
            <ol>
                <li><strong>git add -A:</strong> Sirve para rastrear los archivos y agregar los cambios la transacción.</li>
                <li><strong>git commit -m "mensaje corto y descriptivo del cambio":</strong> Sirve para completar la transacción y guardar los cambios de manera local.</li>
                <li><strong>git push:</strong> Sirve para "empujar" todas las transacciones del repositorio local al repositorio remoto.</li>
            </ol>
            <p>Entonces, cada vez que trabajemos, debemos escribir en la consola:</p>
            <code><pre>git add -A
git commit -m "mensaje corto y descriptivo del cambio"
git push</pre></code>
            <p>Comandos de git para trabajar con ramas:</p>
            <ul>
                <li><strong>git branch:</strong> Sirve para listar las ramas del repositorio.</li>
                <li><strong>git checkout [nombre de la rama]:</strong> Sirve para cambiarse de rama.</li>
                <li><strong>git checkout -b [nombre de la rama]:</strong> Sirve para crear una nueva rama y cambiarse a la nueva rama.</li>
            </ul>
        </section>
        <h1>Esto se va a descontrolar!!!!!!!</h1>
        <h3>lol</h3>
    </main>
    
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
                <span class="white-text">Editor HTML utilizado: <a class="red-text text-lighten-5" href="https://code.visualstudio.com/">Visual Studio Code</a></span>
            </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2021 Generación TC2005B Construcción de Software
          </div>
        </div>
    </footer>

    <script src="js/zelda2.js"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>