<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materialize Index</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    
</head>
<body>
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Laboratorios</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/campeones">Campeones</a></li>
            <li><a href="/git">Comandos git</a></li>
            <li><a href="#lab1">Laboratorio 1</a></li>
            <li><a href="#lab3">Laboratorio 3</a></li>
            <li><a href="#lab4">Laboratorio 4</a></li>
            <li><a href="#lab5">Laboratorio 5</a></li>
            <li><a href="#lab6">Laboratorio 6</a></li>
            <li><a href="#lab11">Laboratorio 11</a></li>
            <li><a href="#lab12">Laboratorio 12</a></li>
          </ul>
        </div>
    </nav>
    </div>

    <main class="container">
        <br>
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <img src="css/1498068843830.jpg">
                        <span class="card-title">Laboratorios</span>
                    </div>
                    <div class="card-content">
                        <p class="center-align">Autor: Enrique Santos Fraire</p>
                        <p class="center-align">Matrícula: A01705746</p>
                        <p class="center-align">Correo electrónico: A01705746@itesm.mx</p>
                    </div>
                </div>
            </div>
        </div>
        
        <section id="lab1">
        <div>
        <hr>
        <h2 class="center-align">Laboratorio 1: Introducción a las aplicaciones web, HTML5 y ciclo de vida de los sistemas de información</h2>
        <h3>Mi Afición: Los Videojuegos</h3>
        <h4>Mis videojuegos favoritos</h4>

        <div class="row">
            <div class="col s5"></div>
            <div class="col s3">
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="https://www.youtube.com/watch?v=sCxv2daOwjQ" target="_blank"></a>HALO</a></li>
                    <li><a href="https://www.youtube.com/watch?v=v7006NXmEdc" target="_blank"></a>NieR: Automata</a></li>
                    <li><a href="https://www.youtube.com/watch?v=fB8TyLTD7EE" target="_blank"></a>League of Legends</a></li>
                    <li><a href="https://www.youtube.com/watch?v=mPTCq3LiZSE" target="_blank"></a>Warframe</a></li>
                </ul>
                <a class="btn dropdown-trigger" data-target="dropdown2">Soundtracks<i class="material-icons right">arrow_drop_down</i></a>
            </div>
            <div class="col s5"></div>
        </div>
        
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="media/3001392_press14.jpg"><h2>HALO</h2></a>
            <a class="carousel-item" href="#two!"><img src="media/655990.jpg"><h2>NieR: Automata</h2></a>
            <a class="carousel-item" href="#three!"><img src="media/champion-akali-splash.jpg"><h2>League of Legends</h2></a>
            <a class="carousel-item" href="#four!"><img src="media/Warframe (15).png"><h2>Warframe</h2></a>
        </div>

        <br>
        <hr>
        </div>

        <div>
            <h3>Formas de prueba</h3>
            <label>Color: 
                <input type="color" autofocus />
            </label>
            |
            <label>Fecha: 
                <input type="date" />
            </label>
            |
            <label>Número: 
                <input type="number" min = "0" max="100" step="1" value="0"/>
            </label>
            |
            <label>Rango: 
                0<input type="range" min="0" max="50" value="25"/>50
            </label>
            |
            <label>Hora: 
                <input type="time" />
            </label>
            |
            <br><br>
            <label>Contraseña: 
                <input type="password" />
            </label>
            |
            <label>Radiobutton 
                <input type="radio" />
            </label>
            |
            <label>Checkbox
                <input type="checkbox" />
            </label>
            |
            <input type="button" onclick="alert('¡Hola!')" value="Botón">
            <br>
            <br>
        </div>

        <div>
        <hr>
        <h3>Preguntas</h3>
        <ol>
            <li>¿Cuál es la diferencia entre Internet y la World Wide Web?</li>
            <ul>
                <li>Internet es una red de computadoras alrededor del mundo, que se usa para acceder a la World Wide Web, que es una recopilación de información y páginas que se asienta sobre esta.</li>
                <li>“En cierto modo internet equivaldría a la infraestructura —las carreteras de países de todo el mundo— mientras que el contenido de las páginas web es lo que viaja sobre esa infraestructura —los autos, camiones, autobuses— para transportar información.” (BBC News Mundo, 2019)</li>
            </ul>
            <br>

            <li>¿Cuáles son las partes de un URL?</li>
            <ul>
                <li>Protocolo: HTTP, HTTPS, entre otros.</li>
                <li>Dominio: Nombre utilizado para identificar una o más direcciones IP.</li>
                <li>Ruta: Especifica la ubicación del recurso o servidor.</li>
                <li>Parámetros: Datos adicionales para identificar el recurso en el servidor.</li>
                <li>(Aviani, 2019)</li>
            </ul>
            <img src="media/URLP.jpg" alt="Partes del URL">

            <li>¿Cuál es el propósito de los métodos HTTP: GET, HEAD, POST, PUT, PATCH, DELETE?</li>
            <ul>
                <li>GET: Puede entenderse como “leer”, solicita datos de un recurso específico sin que este sea modificado de ninguna 
                forma o cambie su estado. </li>
                <li>HEAD: Es similar al GET, pero el resultado del método no contiene cuerpo, sólo encabezados, se utiliza para saber 
                si el recurso existe.</li>
                <li>POST: Envía datos al servidor para crear un nuevo recurso.</li>
                <li>PUT: Actualiza un recurso existente usando el contenido, usando el contenido de la solicitud en el cuerpo.</li>
                <li>PATCH: Aplica modificaciones parciales a un recurso.</li>
                <li>DELETE: Elimina un recurso específico.</li>
                <li>(Aviani, 2019)</li>
            </ul>
            <br>

            <li>¿Qué método HTTP se debe utilizar al enviar un formulario HTML, por ejemplo cuando ingresas tu usuario y contraseña 
                en algún sitio? ¿Por qué?</li>
            <ul>
                <li>El método POST porque envía datos de información.</li>
            </ul>
            <br>

            <li>¿Qué método HTTP se utiliza cuando a través de un navegador web se accede a una página a través de un URL?</li>
            <ul>
                <li>El método GET pues está leyendo el contenido de la página para mostrar al usuario.</li>
            </ul>
            <br>

            <li>Un servidor web devuelve una respuesta HTTP con código 200. ¿Qué significa esto? ¿Ocurrió algún error?</li>
            <ul>
                <li>Los códigos 2xx indican una solicitud exitosa, por lo que no ocurre ningún error. (Aviani, 2019)</li>
            </ul>
            <br>

            <li>¿Es responsabilidad del desarrollador corregir un sitio web si un usuario reporta que intentó acceder al sitio y se 
                encontró con un error 404? ¿Por qué?</li>
            <ul>
                <li>Si, este error indica que el URL no se reconoce y por lo tanto no puede encontrar el recurso buscado, se trata de un 
                enlace roto, dejando una mala experiencia al usuario, dando a entender que la página es deficiente y poco cuidada. 
                (MDN contributors, 2019) (INBOUNDCYCLE, s.f.)</li>
            </ul>
            <br>

            <li>¿Es responsabilidad del desarrollador corregir un sitio web si un usuario reporta que intentó acceder al sitio y se 
                encontró con un error 500? ¿Por qué?</li>
            <ul>
                <li>Si, porque indica un error interno del servidor, encontró una situación que no sabe manejar y por lo tanto debe ser 
                corregida. (MDN contributors, 2019)</li>
            </ul>
            <br>

            <li>¿Qué significa que un atributo HTML5 esté depreciado o desaprobado (deprecated)? Menciona algunos elementos de HTML 4 
                que en HTML5 estén desaprobados.</li>
            <ul>
                <li>Que los antiguos atributos no son reconocidos en el entorno HTML5 puesto que hay funciones CSS maneja de una forma 
                más eficiente. Entre los elementos de HTML4 que ya no están disponibles tenemos: type, axis, align, background, hspace, 
                vspace, size, entre otros. (tutorialspoint, s.f.)</li>
            </ul>
            <br>

            <li>¿Cuáles son las diferencias principales entre HTML 4 y HTML5?</li>
            <ul>
                <li>HTML5 está en continuo desarrollo a diferencia del 4 que tiene un estándar fijo, HTML5 cuenta con una sintaxis 
                simplificada y fácil de leer, es compatible con HTML4, además añade los elementos de header y footer para una mejor 
                anatomía de sitios web, section y article para códigos más estructurados y nuevas formas de insertar contenido 
                multimedia con menos código. (Vargas González, 2012)</li>
            </ul>
            <br>

            <li>¿Qué componentes de estructura y estilo tiene una tabla?</li>
            <ul>
                <li>table: contiene todo lo relacionado a la tabla.</li>
                <li>caption: describe la tabla y su contenido.</li>
                <li>thead: encabezado de las tablas, describe la información de cada columna.</li>
                <li>tbody: contiene la información de la tabla.</li>
                <li>tfoot: pie de la tabla.</li>
                <li>tr: engloba cada fila de la tabla.</li>
                <li>th: contiene la información de una celda individual de encabezado.</li>
                <li>td: contiene la información de una celda individual.</li>
                <li>colgroup: agrupa una o más columnas para dar formato.</li>
                <li>col: define una columna única de información. (Nice, 2017)</li>
            </ul>
            <br>

            <li>¿Cuáles son los principales controles de una forma HTML5?</li>
            <ul>
                <li>input: define el tipo de información que meterá el usuario.</li>
                <li>type=””: especifica el tipo de campo, puede ser de texto, contraseña, fecha-hora, checkbox, entre otros.</li>
                <li>value=””: valor del campo.</li>
                <li>size=””: tamaño de caracterese del input.</li>
                <li>step=””: número de intervalos legales para un input. (Nice, 2017)</li>
            </ul>
            <br>

            <li>¿Qué tanto soporte HTML5 tiene el navegador que utilizas? Puedes utilizar la siguiente página para descubrirlo: http://html5test.com/ (Al responder la pregunta recuerda poner el navegador que utilizas)</li>
            <ul>
                <li>Con Firefox tengo 465/555.</li>
            </ul>
            <br>

            <li>Sobre el ciclo de vida y desarrollo de los sistemas de información:</li>
            <ul>
                <li>¿Cuál es el ciclo de vida de los sistemas de información?</li>
                <ul>
                    <li>“Es un sistema ya sea automatizado o manual que engloba personas, máquinas y métodos organizados para recopilar, procesar, transmitir datos que representan información. Abarca la infraestructura, la organización, el personal y todos los componentes necesarios para la recopilación, procesamiento, almacenamiento, transmisión, visualización, diseminación y organización de la información.” (Redacción PowerData, 2019)</li>
                </ul>
                <li>¿Cuál es el ciclo de desarrollo de sistemas de información?</li>
                <ul>
                    <li>Es un activo corporativo esencial que se divide en 7 fases:</li>
                </ul>
                <ol>
                    <li>Fase de planeación</li>
                    <li>Fase de análisis</li>
                    <li>Fase de diseño</li>
                    <li>Fase de desarrollo</li>
                    <li>Fase de integración y periodo de pruebas</li>
                    <li>Fase de implementación</li>
                    <li>Fase de mantenimiento (Redacción PowerData, 2019)</li>
                </ol>
            </ul>
        </ol>

        <h3>Referencias</h3>
        <ul>
            <li>BBC News Mundo (2019, marzo 12) ¿Cuál es la diferencia entre internet y la web? (y por qué muchos las confunden). Recuperado de <a href="https://www.bbc.com/mundo/noticias-47538812">https://www.bbc.com/mundo/noticias-47538812</a></li>
            <li>Aviani, G. (2019, septiembre 11) An introduction to HTTP: everything you need to know. Recuperado de <a href="https://www.freecodecamp.org/news/http-and-everything-you-need-to-know-about-it/">https://www.freecodecamp.org/news/http-and-everything-you-need-to-know-about-it/</a></li>
            <li>MDN contributors (2020, diciembre 18) HTTP response status codes. Recuperado de <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">https://developer.mozilla.org/en-US/docs/Web/HTTP/Status</a></li>
            <li>INBOUNDCYCLE (s.f.) Error 404: ¿qué es y cómo solucionarlo de manera rápida y efectiva? Recuperado de <a href="https://www.inboundcycle.com/diccionario-marketing-online/error-404">https://www.inboundcycle.com/diccionario-marketing-online/error-404</a></li>
            <li>Tutorialspoint (s.f) HTML5 - Deprecated Tags & Attributes. Recuperado de <a href="https://www.tutorialspoint.com/html5/html5_deprecated_tags.htm">https://www.tutorialspoint.com/html5/html5_deprecated_tags.htm</a></li>
            <li>Vargas González, M. (2012, septiembre 20) Diferencias entre HTML 4 y HTML 5. Recuperado de <a href="http://miguelvargasgonzalez.blogspot.com/2012/09/diferencias-entre-html-4-y-html-5.html">http://miguelvargasgonzalez.blogspot.com/2012/09/diferencias-entre-html-4-y-html-5.html</a></li>
            <li>Nice, B (2017, septiembre 23) Beginner’s HTML Cheat Sheet. Recuperado de <a href="https://medium.com/level-up-web/beginners-html-cheat-sheet-f9b1e3ce88a6">https://medium.com/level-up-web/beginners-html-cheat-sheet-f9b1e3ce88a6</a></li>
            <li>Redacción PowerData (2019, junio 7) Ciclo de vida de un sistema de información: fases y componentes. Recuperado de: <a href="https://blog.powerdata.es/el-valor-de-la-gestion-de-datos/ciclo-de-vida-de-un-sistema-de-informacion-fases-y-componentes">https://blog.powerdata.es/el-valor-de-la-gestion-de-datos/ciclo-de-vida-de-un-sistema-de-informacion-fases-y-componentes</a></li>
        </ul>
        <br>
        <hr>
        </div>
        </section>

        <section id="lab3">
        <div>
        <h2 class="center-align">Laboratorio 3: CSS</h2>
        <h3>Preguntas</h3>
        <ol>
            <li>Como ingeniero de software ¿cuál es tu recomendación sobre el uso de !important en un CSS?</li>
            <ul>
                <li>¡important hace que un estilo tenga precedencia sobre cualquier otro, se debe de usar con cuidado para no generar problemas con los demás archivos, además que supone una falta de ingeniería, es recomendable usarlo como último recurso.</li>
            </ul>
            <br>

            <li>Si se pone una imagen de fondo en una página HTML, ¿por qué debe escogerse con cuidado?</li>
            <ul>
                <li>Porque hay que cuidar que sea acorde a la página, que no moleste la vista o distraiga del contenido principal, además que debe tener una buena calidad que se adapte a una resolución variable, de manera que no pierda forma al agrandarse.</li>
            </ul>
            <br>

            <li>Como ingeniero de software, ¿cuál es tu recomendación al elegir las unidades de una propiedad de estilo entre %, px y pt?</li>
            <ul>
                <li>Lo más recomendable es usar porcentajes por las proporciones relativas entre cada monitor, así al momento de probar la página en otra computadora con distinta resolución la interfaz sufre cambios mínimos.</li>
            </ul>
            <br>

            <li>¿Por qué el uso de una versión minimizada del CSS mejora el rendimiento del sitio?</li>
            <ul>
                <li>Porque disminuye el tráfico de datos, quitando espacios innecesarios del archivo original, reduciendo su tamaño y haciéndolo más fácil de procesar para el servidor y la computadora.</li>
            </ul>
        </ol>
        <br>
        <hr>
        </div>
        </section>

        <section id="lab4">
        <div>
        <h2 class="center-align">Laboratorio 4: Fundamentos de JavaScript</h2>
        <h3>Preguntas</h3>
        <ol>
            <li>¿Qué diferencias y semejanzas hay entre Java y JavaScript?</li>
            <ul>
                <li>JavaScript es un lenguaje interpretado no tipado, se lee y se traduce línea por línea mientras corre el programa. Mientras tanto Java es un lenguaje compilado fuertemente tipado y orientado enteramente a objetos que pasa por una máquina virtual para ser interpretado.</li>
            </ul>
            <a href="https://www.wildcodeschool.com/es-ES/blog/cual-es-la-diferencia-entre-java-y-javascript">Fuente</a>
            <br>

            <li>¿Qué métodos tiene el objeto Date? (Menciona al menos 5*)</li>
            <ul>
                <li>toString() – Convierte un objeto date a string.</li>
                <li>now() – Devuelve la cantidad de milisegundos desde la medianoche del 1 de enero de 1970.</li>
                <li>setDate() – Establece el día del mes de un objeto date.</li>
                <li>getFullYear – Regresa el año.</li>
                <li>getTimezoneOffset() – Regresa la diferencia de tiempo entra la hora UTC y la hora local en minutos.</li>
            </ul>
            <a href="https://www.w3schools.com/jsref/jsref_obj_date.asp">Fuente</a>
            <br>

            <li>¿Qué métodos tienen los arreglos? (Menciona al menos 5*)</li>
            <ul>
                <li>concat() – Une dos o más arreglos y devuelve una copia de estos.</li>
                <li>fill() – Llena los elementos de un arreglo con un valor estático.</li>
                <li>find() – Regresa el valor del primer elemento  de un arreglo que pasa una prueba.</li>
                <li>join() – Une todos los elementos de un arreglo en un string.</li>
                <li>pop() – Elimina el último elemento de un arreglo y regresa el mismo.</li>
            </ul>
            <a href="https://www.w3schools.com/jsref/jsref_obj_array.asp">Fuente</a>
            <br>

            <li>¿Cómo se declara una variable con alcance local dentro de una función?</li>
            <ul>
                <li>Se declara mediante “let”, su alcance se ve definido por los corchetes.</li>
            </ul>
            <br>

            <li>¿Qué implicaciones tiene utilizar variables globales dentro de funciones?</li>
            <ul>
                <li>Pueden interferir con otras funciones o reemplazar nombres de otras variables de funciones, además que si se ve modificada la variable dentro de la función repercutirá en las demás instancias. Además, dificulta la legibilidad del código fuente.</li>
            </ul>
        </ol>   
        <br>
        <hr>

        <h3>Ejercicios</h3>
        <script src="js/lab4.js"></script>

        <br><strong>Ejercicio 6: Calculadora</strong><br>
        <script src="js/lab4_ejercicio6.js"></script>

        <p>Se trata de un programa que permite al usuario realizar distintas operaciones con un par de números. Se utilizó una clase de JavaScript para introducir los métodos de las operaciones, las cuales son:</p>
        <ul>
            <li>Suma</li>
            <li>Resta</li>
            <li>Multiplicación</li>
            <li>División</li>
            <li>Potencia</li>
        </ul>
        <p>El programa se visualiza mediante prompts y el resultado es devuelto a través de la consola del navegador, a la que se accede al hacer click derecho/Inspeccionar elemento/Consola en cualquier parte de la página.</p>

        <button class="button" onclick='problema6()'>Correr programa</button>
        <br><br>
        <hr>
        </div>
        </section>

        <section id="lab5">
        <div>
        <h2 class="center-align">Laboratorio 5: Programación orientada a eventos</h2>
        <h3>Preguntas</h3>
        <ol>
            <li>¿Por qué es una buena práctica usar JavaScript para checar que sean válidos los inputs de las formas antes de enviar los datos al servidor?</li>
            <ul>
                <li>Le ahorras trabajo al servidor, no se llena de información innecesaria, se verifican los datos, sin embargo, no brinda seguridad, pero si garantiza la mejor experiencia para el usuario.</li>
            </ul>
            <br>

            <li>¿Cómo puedes saltarte la seguridad de validaciones hechas con JavaScript?</li>
            <ul>
                <li>Deshabilitando java en el navegador.</li>
            </ul>
            <br>

            <li>Si te puedes saltar la seguridad de las validaciones de JavaScript, entonces ¿por qué la primera pregunta dice que es una buena práctica?</li>
            <ul>
                <li>Porque mejora la experiencia del usuario al momento de interactuar con la aplicación.</li>
            </ul>
        </ol>

        <h3>Referencias</h3>
        <ul>
            <li><a href="https://www.w3schools.com/howto/howto_css_product_card.asp">How to create a product card</a></li>

        </ul>
        <br><br>
        <hr>
        </div>
        </section>

        <section id="lab6">
        <div>
        <h2 class="center-align">Lab 6: Frameworks de estilo</h2>
        <h3>Preguntas</h3>
        <ol>
            <li>Describe Material design</li>
            <ul>
                <li>Se trata de un lenguaje de diseño que combina principios de diseño con innovación y tecnología, creado por Google con el fin de unificar la experiencia de usuario en todos sus productos independientemente de la plataforma.</li>
            </ul>
        </ol>
        <br><br>
        <hr>
        </div>
        </section>

        <section id="lab11">
            <div>
            <h2 class="center-align">Lab 11: Express</h2>
            <h3>Preguntas</h3>
            <ol>
                <li>Describe el archivo package.json</li>
                <ul>
                    <li>json significa JavaScript Object Notation, y es donde se guardan todas las configuraciones de las librerías y paquetes, información del autor, programa y licencia, palabras clave y datos del repositorio, además de indicar el script necesario para su inicio y los módulos de dependencia con su versión requerida.</li>
                </ul>
            </ol>
            <br><br>
            <hr>
            </div>
        </section>

        <section id="lab12">
            <div>
            <h2 class="center-align">Lab 12: HTML dinámico</h2>
            <h3>Preguntas</h3>
            <ol>
                <li>¿Qué otros templating engines existen para node?</li>
                <ul>
                    <li>pug</li>
                    <li>Handlebars</li>
                    <li>EJS</li>
                    <li>Cross-site Scripting (XSS)</li>
                </ul>
            </ol>
            <br><br>
            <hr>
            </div>
        </section>
    </main>

    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <span class="white-text">Editor HTML utilizado: <a class="red-text text-lighten-5" href="https://code.visualstudio.com/">Visual Studio Code</a></span>
            </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2021 Generación TC2005B Construcción de Software
          </div>
        </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/carrusel.js"></script>
</body>
</html>