<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
    <h1><%= titulo %></h1>
    <form action="nuevo-campeon" method="POST">
        <input type="text" name="nombre_campeon">
        <input type="text" name="imagen_campeon">
        <input type="submit" value="Guardar campeón">
    </form>
    <br>
</main>

<%- include('partials/footer.ejs') %>